@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
};

@theme {
  --spacing-navbar-height: 4rem;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

/* VUE TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.swap-enter-active,
.swap-leave-active {
  transition: all 0.2s ease-in-out;
  transform-origin: bottom;
}

.swap-enter-from {
  transform: scale(.5) rotateZ(90deg);
  opacity: 0;
}
.swap-leave-to {
  transform: scale(.5) rotateZ(-90deg);
  opacity: 0;
}
